Repository payara/Payara, pull requests merged in 2018-10, with the labels that each got.

#3203 PAYARA-2844 Move Payara Notification Logger Settings to its own page - Payara4
  appserver/admingui/common/src/main/resources/configuration/loggerGeneral.jsf
  appserver/admingui/common/src/main/resources/configuration/loggingTabs.inc
  appserver/admingui/common/src/main/resources/configuration/payaraNotificationLogger.jsf
  appserver/admingui/common/src/main/resources/org/glassfish/common/admingui/Strings.properties
Labels: v:Payara-4

#3216 PAYARA-3144 MP Metrics Sub-resource endpoints not found
  appserver/payara-appserver-modules/microprofile/metrics/src/main/java/fish/payara/microprofile/metrics/rest/MetricsServletContainerInitializer.java
Labels: v:Payara-5

#3177 PAYARA-3109 OpenAPI doesn't support if schema type is array
  appserver/payara-appserver-modules/microprofile/openapi/src/main/java/fish/payara/microprofile/openapi/impl/model/util/ModelUtils.java
Labels: v:Payara-5

#3163 PAYARA-3085 OpenAPI Doesn't Support @...Param Annotated Fields
  appserver/payara-appserver-modules/microprofile/openapi/src/main/java/fish/payara/microprofile/openapi/api/visitor/ApiVisitor.java
  appserver/payara-appserver-modules/microprofile/openapi/src/main/java/fish/payara/microprofile/openapi/impl/model/util/ModelUtils.java
  appserver/payara-appserver-modules/microprofile/openapi/src/main/java/fish/payara/microprofile/openapi/impl/processor/ApplicationProcessor.java
  appserver/payara-appserver-modules/microprofile/openapi/src/main/java/fish/payara/microprofile/openapi/impl/visitor/OpenApiWalker.java
Labels: v:Payara-5

#3224 PAYARA-3126 OpenAPI Fails When Custom Operation Annotation is Used
  appserver/payara-appserver-modules/microprofile/openapi/src/main/java/fish/payara/microprofile/openapi/impl/processor/ApplicationProcessor.java
Labels: v:Payara-5

#3232 PAYARA-3109 OpenAPI doesn't support if schema type is array - Payara4
  appserver/payara-appserver-modules/microprofile/openapi/src/main/java/fish/payara/microprofile/openapi/impl/model/util/ModelUtils.java
Labels: v:Payara-4

#3233 PAYARA-3131 Clicking Cancel button on Configuration Properties page causes an error - Payara4
  appserver/admingui/common/src/main/resources/appServer/serverInstDomainProps.jsf
  appserver/admingui/common/src/main/resources/applications/appProperties.jsf
  appserver/admingui/common/src/main/resources/org/glassfish/common/admingui/Strings.properties
Labels: v:Payara-4

#3159 Configurable .gfclient directory
  nucleus/common/common-util/src/main/java/com/sun/enterprise/security/store/AsadminSecurityUtil.java
Labels: CLA, community-contribution

#3228 PAYARA-3153 OpenAPI doesn't support child schema on @...Param annotations
  appserver/payara-appserver-modules/microprofile/openapi/src/main/java/fish/payara/microprofile/openapi/impl/processor/ApplicationProcessor.java
Labels: v:Payara-5

#3231 PAYARA-3085 OpenAPI Doesn't Support @...Param Annotated Fields - Payara4
  appserver/payara-appserver-modules/microprofile/openapi/src/main/java/fish/payara/microprofile/openapi/api/visitor/ApiVisitor.java
  appserver/payara-appserver-modules/microprofile/openapi/src/main/java/fish/payara/microprofile/openapi/impl/model/util/ModelUtils.java
  appserver/payara-appserver-modules/microprofile/openapi/src/main/java/fish/payara/microprofile/openapi/impl/processor/ApplicationProcessor.java
  appserver/payara-appserver-modules/microprofile/openapi/src/main/java/fish/payara/microprofile/openapi/impl/visitor/OpenApiWalker.java
Labels: v:Payara-4

#3229 PAYARA-3134 Add help text on MicroProfile Config property - Payara4
  appserver/admingui/microprofile-console-plugin/src/main/resources/fish/payara/admingui/microprofile/Strings.properties
  appserver/admingui/microprofile-console-plugin/src/main/resources/microprofile/specs/configAPI/propertyConfiguration.jsf
Labels: v:Payara-4

#3252 @...Param annotations doesn't support @DefaultValue annotations on OpenAPI
  appserver/payara-appserver-modules/microprofile/openapi/src/main/java/fish/payara/microprofile/openapi/impl/processor/ApplicationProcessor.java
Labels: v:Payara-5

#3248 PAYARA-3064 Fix for MP Config enrivonment variables on embedded windows - Payara4
  nucleus/payara-modules/nucleus-microprofile/config-service/src/main/java/fish/payara/nucleus/microprofile/config/source/EnvironmentConfigSource.java
Labels: v:Payara-4

#3247 PAYARA-2417 DAS can now shutdown Micro instances - Payara4
  appserver/extras/payara-micro/payara-micro-core/src/main/java/fish/payara/micro/boot/runtime/MicroGlassFish.java
  nucleus/common/mbeanserver/src/main/java/org/glassfish/admin/mbeanserver/BootAMX.java
Labels: v:Payara-4

#3254 PAYARA-3126 OpenAPI Fails When Custom Operation Annotation is Used - Payara4
  appserver/payara-appserver-modules/microprofile/openapi/src/main/java/fish/payara/microprofile/openapi/impl/processor/ApplicationProcessor.java
Labels: v:Payara-4

#3255 PAYARA-3153 OpenAPI doesn't support child schema on @...Param annotations - Payara4
  appserver/payara-appserver-modules/microprofile/openapi/src/main/java/fish/payara/microprofile/openapi/impl/processor/ApplicationProcessor.java
Labels: v:Payara-4

#3257 PAYARA-3157 The resource type of a JDBC connection pool can't be changed in the second step of creation - Payara4
  appserver/jdbc/admin/src/main/java/org/glassfish/jdbc/admin/cli/JDBCConnectionPoolManager.java
Labels: v:Payara-4

#3258 @...Param annotations doesn't support @DefaultValue annotations on OpenAPI - Payara4
  appserver/payara-appserver-modules/microprofile/openapi/src/main/java/fish/payara/microprofile/openapi/impl/processor/ApplicationProcessor.java
Labels: v:Payara-4

#3261 PAYARA-3145 prevent NPE when connectionPool is null - Payara4
  appserver/jdbc/jdbc-ra/jdbc-core/src/main/java/com/sun/gjc/spi/ManagedConnectionImpl.java
Labels: v:Payara-4

#3200 PAYARA-3128 ensure we store and set supported protocols as well as ci…
  appserver/orb/orb-iiop/src/main/java/org/glassfish/enterprise/iiop/impl/IIOPSSLSocketFactory.java
Labels: v:Payara-5

#3262 PAYARA-3116 OpenAPI Fails When Jersey Features are Registered - Payara4
  appserver/payara-appserver-modules/microprofile/openapi/src/main/java/fish/payara/microprofile/openapi/impl/processor/ApplicationProcessor.java
Labels: v:Payara-4

#3264 PAYARA-3128 ensure we store and set supported protocols as well as ciphers - Payara4
  appserver/orb/orb-iiop/src/main/java/org/glassfish/enterprise/iiop/impl/IIOPSSLSocketFactory.java
Labels: v:Payara-4

#3139 PAYARA-2952 - Log Json Formatter - LogMessage type
  nucleus/core/logging/src/main/java/fish/payara/enterprise/server/logging/JSONLogFormatter.java
Labels: CLA, community-contribution

#3013 PYSVC-471 add support file
  SUPPORT.md
Labels: documentation

#3276 Fixing sonar bugs of module Appserver core bootstrapping classes PAYARA-3181
  nucleus/core/bootstrap/src/main/java/com/sun/enterprise/glassfish/bootstrap/JarUtil.java
  nucleus/core/bootstrap/src/main/java/com/sun/enterprise/glassfish/bootstrap/Rejar.java
  nucleus/core/bootstrap/src/main/java/com/sun/enterprise/glassfish/bootstrap/StaticGlassFishRuntime.java
  nucleus/core/bootstrap/src/main/java/com/sun/enterprise/glassfish/bootstrap/osgi/BundleProvisioner.java
  nucleus/core/bootstrap/src/main/java/com/sun/enterprise/glassfish/bootstrap/osgi/MinimalBundleProvisioner.java
Labels: CLA

#3242 Fixing bugs of blocker and major for module GF core EJB container impl
  appserver/ejb/ejb-container/src/main/java/com/sun/ejb/EJBUtils.java
  appserver/ejb/ejb-container/src/main/java/com/sun/ejb/base/io/EJBObjectOutputStreamHandler.java
  appserver/ejb/ejb-container/src/main/java/com/sun/ejb/containers/BaseContainer.java
  appserver/ejb/ejb-container/src/main/java/com/sun/ejb/containers/interceptors/CallbackInvocationContext.java
  appserver/ejb/ejb-container/src/main/java/com/sun/ejb/containers/interceptors/InterceptorUtil.java
  appserver/ejb/ejb-container/src/main/java/com/sun/ejb/containers/util/pool/BlockingPool.java
  appserver/ejb/ejb-container/src/main/java/com/sun/ejb/containers/util/pool/NonBlockingPool.java
  appserver/ejb/ejb-container/src/main/java/org/glassfish/ejb/deployment/descriptor/ContainerTransaction.java
Labels: CLA, community-contribution

#3290 Fixing blocker bugs in Payara micro boot module
  appserver/extras/payara-micro/payara-micro-boot/src/main/java/fish/payara/micro/boot/loader/ExplodedURLClassloader.java
  appserver/extras/payara-micro/payara-micro-boot/src/main/java/fish/payara/micro/boot/loader/jar/JarFile.java
Labels: CLA, community-contribution

#3302 #3301 fixing Web Console 403 LDAPRealm.getGroupNames Exception
  nucleus/security/core/src/main/java/com/sun/enterprise/security/auth/realm/GroupMapper.java
  nucleus/security/core/src/main/java/com/sun/enterprise/security/auth/realm/ldap/LDAPRealm.java
Labels: CLA, community-contribution

#3297 PAYARA-3192 - Fixing blocker bugs in Deployment related classes module
  nucleus/deployment/common/src/main/java/com/sun/enterprise/deploy/shared/FileArchive.java
  nucleus/deployment/common/src/main/java/org/glassfish/deployment/common/ModuleExploder.java
Labels: CLA, community-contribution

#3299 PAYARA-3193 - Fixing blocker bugs in module nucleus logging
  nucleus/core/logging/src/main/java/com/sun/enterprise/server/logging/Syslog.java
  nucleus/core/logging/src/main/java/com/sun/enterprise/server/logging/logviewer/backend/LogFile.java
  nucleus/core/logging/src/main/java/com/sun/enterprise/server/logging/logviewer/backend/LogFilterForInstance.java
Labels: CLA, community-contribution

#3289 Fixing blocker bugs in microprofile jwt module
  appserver/payara-appserver-modules/microprofile/jwt-auth/src/main/java/fish/payara/microprofile/jwtauth/eesecurity/SignedJWTIdentityStore.java
  appserver/payara-appserver-modules/microprofile/jwt-auth/src/main/java/fish/payara/microprofile/jwtauth/jwt/JwtTokenParser.java
Labels: CLA, community-contribution

#3316 PAYARA-3110 Made TracedInterceptor serializable (payara4)
  appserver/payara-appserver-modules/microprofile/opentracing/src/main/java/fish/payara/microprofile/opentracing/cdi/TracedInterceptor.java
Labels: v:Payara-4

#3315 PAYARA-3040 Added support for snapshot transaction isolation level (payara4)
  api/payara-api/pom.xml
  api/payara-api/src/main/java/fish/payara/sql/Connection.java
  appserver/admingui/jdbc/src/main/resources/poolPropertyEdit.inc
  appserver/admingui/jdbc/src/main/resources/poolPropertyNew.inc
  appserver/connectors/connectors-internal-api/pom.xml
  appserver/connectors/connectors-internal-api/src/main/java/com/sun/appserv/connectors/internal/api/ConnectorsUtil.java
  appserver/connectors/descriptors/src/main/resources/glassfish/lib/dtds/payara-resources_1_6.dtd
  appserver/deployment/dol/src/main/java/com/sun/enterprise/deployment/DataSourceDefinitionDescriptor.java
  appserver/jdbc/jdbc-config/src/main/java/org/glassfish/jdbc/config/JdbcConnectionPool.java
  appserver/jdbc/jdbc-ra/jdbc-core/src/main/java/com/sun/gjc/spi/ManagedConnectionFactoryImpl.java
Labels: v:Payara-4

#3313 PAYARA-3197 - Fixing sonar bugs blocker and major in web glue module
  appserver/web/web-glue/src/main/java/com/sun/appserv/web/cache/DefaultCacheHelper.java
  appserver/web/web-glue/src/main/java/com/sun/enterprise/web/PEAccessLogValve.java
  appserver/web/web-glue/src/main/java/com/sun/enterprise/web/WebContainer.java
  appserver/web/web-glue/src/main/java/com/sun/enterprise/web/accesslog/DefaultAccessLogFormatterImpl.java
  appserver/web/web-glue/src/main/java/com/sun/enterprise/web/connector/coyote/PECoyoteConnector.java
  appserver/web/web-glue/src/main/java/org/glassfish/web/jsp/JSPCompiler.java
Labels: CLA, community-contribution

#3321 PAYARA-3205 upgrade jackson to 2.9.6
  nucleus/pom.xml
Labels: v:Payara-5

#3324 PAYARA-3206 Upgrade apache httpclient to 4.5.6
  appserver/admingui/devtests/pom.xml
Labels: v:Payara-4

#3317 PAYARA-3072 PAYARA-3073 remove support for java.ext.dirs and java.endorsed.dirs
  appserver/appclient/client/acc/src/main/java/org/glassfish/appclient/client/CLIBootstrap.java
  appserver/appclient/server/core/src/main/java/org/glassfish/appclient/server/core/jws/ExtensionFileManager.java
  appserver/appclient/server/core/src/main/java/org/glassfish/appclient/server/core/jws/JWSAdapterManager.java
  appserver/appclient/server/core/src/main/java/org/glassfish/appclient/server/core/jws/JavaWebStartInfo.java
  appserver/connectors/connectors-runtime/src/main/java/com/sun/enterprise/connectors/util/DriverLoader.java
  appserver/deployment/dol/src/main/java/com/sun/enterprise/deployment/io/DeploymentDescriptorFile.java
  appserver/security/core-ee/src/main/java/com/sun/enterprise/security/provider/PolicyParser.java
  appserver/verifier/verifier-impl/src/main/java/com/sun/enterprise/tools/verifier/apiscan/packaging/Archive.java
  appserver/web/web-core/src/main/java/org/apache/catalina/util/ExtensionValidator.java
  nucleus/admin/server-mgmt/src/main/java/com/sun/enterprise/admin/servermgmt/V2ToV3ConfigUpgrade.java
  nucleus/deployment/admin/src/main/java/org/glassfish/deployment/admin/AddLibraryCommand.java
  nucleus/deployment/common/src/main/java/org/glassfish/deployment/common/InstalledLibrariesResolver.java
Labels: JDK-11+, v:Payara-5

#3323 PAYARA-3072 PAYARA-3073 deprecate functions and classes removed in JD…
  appserver/appclient/server/core/src/main/java/org/glassfish/appclient/server/core/jws/ExtensionFileManager.java
  appserver/appclient/server/core/src/main/java/org/glassfish/appclient/server/core/jws/JWSAdapterManager.java
  appserver/appclient/server/core/src/main/java/org/glassfish/appclient/server/core/jws/JavaWebStartInfo.java
  appserver/connectors/connectors-runtime/src/main/java/com/sun/enterprise/connectors/util/DriverLoader.java
  appserver/security/core-ee/src/main/java/com/sun/enterprise/security/provider/PolicyParser.java
  appserver/verifier/verifier-impl/src/main/java/com/sun/enterprise/tools/verifier/apiscan/packaging/Archive.java
  nucleus/deployment/common/src/main/java/org/glassfish/deployment/common/InstalledLibrariesResolver.java
Labels: JDK-11+, v:Payara-5

#3318 PAYARA-3203 MP OpenAPI @Operation deprecated member ignored
  appserver/payara-appserver-modules/microprofile/openapi/src/main/java/fish/payara/microprofile/openapi/impl/model/OperationImpl.java
Labels: v:Payara-5

#3298 PAYARA-3211 Fixing sonar blocker bugs in JSR-109 impl module
  appserver/webservices/jsr109-impl/src/main/java/org/glassfish/webservices/WebServiceContextImpl.java
  appserver/webservices/jsr109-impl/src/main/java/org/glassfish/webservices/WebServicesDeployer.java
  appserver/webservices/jsr109-impl/src/main/java/org/glassfish/webservices/monitoring/WebServiceTesterServlet.java
Labels: CLA, community-contribution

#3325 Remove JDK11 domain from master
  appserver/admin/jdk11_template/pom.xml
  appserver/admin/jdk11_template/src/main/assembly/jdk11-domain.xml
  appserver/admin/jdk11_template/src/main/resources/config/default-web.xml
  appserver/admin/jdk11_template/src/main/resources/config/domain.xml
  appserver/admin/jdk11_template/src/main/resources/config/glassfish-acc.xml
  appserver/admin/jdk11_template/src/main/resources/config/wss-server-config-1.0.xml
  appserver/admin/jdk11_template/src/main/resources/config/wss-server-config-2.0.xml
  appserver/admin/jdk11_template/src/main/resources/stringsubs.xml
  appserver/admin/jdk11_template/src/main/resources/template-info.xml
  appserver/admin/jdk11_template_web/pom.xml
  appserver/admin/jdk11_template_web/src/main/assembly/jdk11-domain-web.xml
  appserver/admin/jdk11_template_web/src/main/resources/config/default-web.xml
  appserver/admin/jdk11_template_web/src/main/resources/config/domain.xml
  appserver/admin/jdk11_template_web/src/main/resources/config/glassfish-acc.xml
  appserver/admin/jdk11_template_web/src/main/resources/config/wss-server-config-1.0.xml
  appserver/admin/jdk11_template_web/src/main/resources/config/wss-server-config-2.0.xml
  appserver/admin/jdk11_template_web/src/main/resources/stringsubs.xml
  appserver/admin/jdk11_template_web/src/main/resources/template-info.xml
  appserver/admin/pom.xml
  appserver/distributions/payara-ml/pom.xml
  appserver/distributions/payara-web-ml/pom.xml
  appserver/distributions/payara-web/pom.xml
  appserver/distributions/payara/pom.xml
  appserver/distributions/pom.xml
  appserver/extras/payara-micro/payara-micro-distribution/build.xml
  appserver/packager/glassfish-nucleus/pom.xml
Labels: JDK-11+, v:Payara-5

#3319 PAYARA-3203 MP OpenAPI @Operation deprecated member ignored - Payara4
  appserver/payara-appserver-modules/microprofile/openapi/src/main/java/fish/payara/microprofile/openapi/impl/model/OperationImpl.java
Labels: v:Payara-4

#3330 PAYARA-3068 MP Healthcheck fails if no name is supplied
  appserver/payara-appserver-modules/microprofile/healthcheck/src/main/java/fish/payara/microprofile/healthcheck/HealthCheckService.java
  appserver/payara-appserver-modules/microprofile/healthcheck/src/main/java/fish/payara/microprofile/healthcheck/response/HealthCheckResponseBuilderImpl.java
Labels: v:Payara-5

#3312 PAYARA-3091 Post Boot Commands Incorrect Quotation Mark Processing
  nucleus/core/bootstrap/src/main/java/com/sun/enterprise/glassfish/bootstrap/GlassFishMain.java
Labels: v:Payara-5

#3207 PAYARA-3214 Fixing sonar blocker bugs in module common utilities
  appserver/pom.xml
  nucleus/common/common-util/src/main/java/com/sun/appserv/management/client/prefs/LoginInfoStoreFactory.java
  nucleus/common/common-util/src/main/java/com/sun/appserv/management/client/prefs/MemoryHashLoginInfoStore.java
  nucleus/common/common-util/src/main/java/com/sun/common/util/logging/LoggingConfigImpl.java
  nucleus/common/common-util/src/main/java/com/sun/common/util/logging/LoggingOutputStream.java
  nucleus/common/common-util/src/main/java/com/sun/enterprise/loader/ASURLClassLoader.java
  nucleus/common/common-util/src/main/java/com/sun/enterprise/universal/NanoDuration.java
  nucleus/common/common-util/src/main/java/com/sun/enterprise/universal/process/ProcessManager.java
  nucleus/common/common-util/src/main/java/com/sun/enterprise/util/ProcessExecutor.java
  nucleus/common/common-util/src/main/java/com/sun/enterprise/util/Utility.java
  nucleus/common/common-util/src/main/java/com/sun/enterprise/util/io/FileUtils.java
  nucleus/common/common-util/src/main/java/com/sun/enterprise/util/net/NetUtils.java
  nucleus/common/common-util/src/main/java/org/glassfish/common/util/admin/MapInjectionResolver.java
Labels: CLA, community-contribution

#3340 PAYARA-3068 MP Healthcheck fails if no name is supplied (Payara 4.x)
  appserver/payara-appserver-modules/microprofile/healthcheck/src/main/java/fish/payara/microprofile/healthcheck/HealthCheckService.java
  appserver/payara-appserver-modules/microprofile/healthcheck/src/main/java/fish/payara/microprofile/healthcheck/response/HealthCheckResponseBuilderImpl.java
Labels: v:Payara-4

#3339 PAYARA-3158 NPE when starting asadmin multimode tool when DAS isn't accessible (Payara 4.x)
  nucleus/admin/cli/src/main/java/com/sun/enterprise/admin/cli/CLIUtil.java
Labels: v:Payara-4

#3329 PAYARA-3221 Fixing sonar bugs in module container common.
  appserver/common/container-common/src/main/java/com/sun/enterprise/container/common/impl/util/JavaEEIOUtilsImpl.java
  appserver/common/container-common/src/main/java/com/sun/enterprise/container/common/spi/util/GlassFishInputStreamHandler.java
  appserver/common/container-common/src/main/java/com/sun/enterprise/container/common/spi/util/GlassFishOutputStreamHandler.java
  appserver/common/container-common/src/main/java/com/sun/enterprise/container/common/spi/util/JavaEEIOUtils.java
Labels: CLA, community-contribution

#3274 INFRA-124 Update Jenkinsfile for new Jenkins
  Jenkinsfile
Labels: v:Payara-5
